
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="col l-6 m-12 c-12">
    <div class="home-product">
        <div class="row sm-gutter" style="padding-right: 16px;">
            <div class="card card-offset">
                <div class="title">
                    Danh sách cần làm
                    <p class="card-tips">Những việc bạn sẽ phải làm</p>
                </div>
                <div class="async-data-wrapper">
                    <div class="status">
                        <div class="to-do-box">
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Sản phẩm chờ duyệt</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Sản phẩm đang hoạt động</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Người mua</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Kênh người bán</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-offset">
                <div class="title">
                    Phân tích doanh thu
                    <p class="card-tips">Tổng quan dữ liệu của shop đối với đơn hàng đã xác nhận</p>
                </div>
                <div class="async-data-wrapper">
                    <div class="status">
                        <div class="to-do-box">
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Chờ xác nhận</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Chờ lấy hàng</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Đang giao</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Đã giao</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Đơn hủy</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Sản phẩm hết hàng</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col l-2">
    <div class="home-product">
        <div class="row sm-gutter" style="width: 318px;">
            <div class="card card-offset">
                <div class="title">
                    Danh sách cần làm
                    <p class="card-tips">Những việc bạn sẽ phải làm</p>
                </div>
                <div class="async-data-wrapper">
                    <div class="status">
                        <div class="to-do-box">
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Chờ xác nhận</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Chờ lấy hàng</p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
