
@{
    ViewBag.Title = "TaoSize";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="col l-9-1 m-12 c-12">
    <div class="home-product">
        <div class="row sm-gutter" style="padding-right: 16px;">
            <div class="product-edit" style="height: 515px;">
                <div class="product-edit__container" style="min-height: 0;">
                    <div class="title-page">
                        <div class="title-page__link">
                            <a href="@Url.Action("DashBoard", "DashBoard")" class="title-page__link-label">Trang chủ</a>
                            <i class='bx bx-chevron-right'></i>
                            <a href="@Url.Action("Size", "Size")" class="title-page__link-label">Size</a>
                            <i class='bx bx-chevron-right'></i>
                            <a href="@Url.Action("TaoSize", "Size")" class="title-page__link-label">Tạo size</a>
                        </div>
                    </div>
                    <div class="product-edit__main">
                        <section class="product-edit__section" id="section-basic-info">
                            <div class="product-detail-panel product-basic-info">
                                <div class="panel-header">
                                    <div class="panel-title">
                                        <div class="basic-info-title">Thông tin size</div>
                                    </div>
                                </div>
                                <div class="panel-content-wrapper">
                                    <div class="panel-content">
                                        @* Tên voucher *@
                                        <div class="edit-row">
                                            <div class="edit-label edit-title">
                                                <span><span style="color: red;">*</span> Tên size</span>
                                            </div>
                                            <div class="edit-main">
                                                <div class="popover-wrap">
                                                    <div class="custom-len-calc-input product-edit-form-item">
                                                        <div class="product-edit-form-item-content">
                                                            <div class="tafi-input">
                                                                <div class="tafi-input__inner tafi-input__inner--large">
                                                                    <input type="text" placeholder="Nhập vào" size="large"
                                                                           resize="none" rows="2" minrows="2" maxlength="Infinity"
                                                                           restrictiontype="input" max="Infinity" min="-Infinity" class="tafi-input__input" id="text-input">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @* Giá giảm *@
                                        <div class="edit-row">
                                            <div class="edit-label edit-title">
                                                <span><span style="color: red;">*</span> Chọn ngành hàng</span>
                                            </div>
                                            <div class="edit-main">
                                                <div class="popover-wrap">
                                                    <div class="custom-len-calc-input product-edit-form-item">
                                                        <div class="product-edit-form-item-content">
                                                            <div class="tafi-input">
                                                                <div class="tafi-input__inner tafi-input__inner--large">
                                                                    <select class="tafi-select" name="" id="tafi-select-categories">
                                                                        <option value="" class="tafi-select-categories__option">Chọn ngành hàng</option>
                                                                        <option value="dienthoai" class="tafi-select-categories__option">Điện thoại</option>
                                                                        <option value="thoitrang" class="tafi-select-categories__option">Thời trang</option>
                                                                        <option value="giay" class="tafi-select-categories__option">Giày</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>


                        <div class="product-selected-fix shopee-fix-bottom-card">
                            <div class="fix-container">
                                <div class="container1">
                                    <div class="container-left"></div>
                                    <div class="container-right btn-group">
                                        <a href="@Url.Action("Size","Size")" class="tafi-button--xl-large tafi-button tafi-button--normal"><span>Hủy</span></a>
                                        <button class="tafi-button--xl-large tafi-button tafi-button-primary tafi-button--normal" style="margin-left: 13px;" id="button-save"><span>Lưu</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

