.wrapper-box {
}

.wrapper-box-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 4px 0 #0002;
    border-radius: 4px;
    width: 1100px;
    height: 555px;
}

.wrapper-box-inner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-welcome {
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 2px solid #0002;
    box-shadow: 0 3px 4px 0 #0002;
    margin-bottom: 10px;
}

    .image-welcome img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        object-fit: cover;
    }

.title-welcome h2 {
    margin: 10px 0;
    font-size: 2rem;
}

.desc-welcome p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.header-form {
    text-align: center;
    border-bottom: 1px solid #dbdbdbdb;
    padding-top: 40px;
    padding-bottom: 40px;
}

    .header-form p {
        font-size: 1.7rem;
    }

.footer-form {
    text-align: right;
    border-top: 1px solid #dbdbdbdb;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 40px;
}
