
@{
    ViewBag.Title = "MauSac";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="col l-9-1 m-12 c-12">
    <div class="home-product">
        <div class="row sm-gutter" style="padding-right: 16px;">
            <div class="title-page">
                <div class="title-page__link">
                    <a href="@Url.Action("DashBoard", "DashBoard")" class="title-page__link-label">Trang chủ</a>
                    <i class='bx bx-chevron-right'></i>
                    <a href="@Url.Action("MauSac", "MauSac")" class="title-page__link-label" style="color: black;"> Màu sắc</a>
                </div>
            </div>
            <div class="product-filter-card">
                <form action="/" method="" class="tafi-form filter-form tafi-form-label-right">
                    <div class="filter-form-box">
                        <div class="filter-col-left">
                            <div class="product tafi-form-item">
                                <div class="tafi-form-item__control">
                                    <div class="tafi-form-item__content">
                                        <div class="tafi-input-group">
                                            <span class="tafi-input-group__prepend" style="width: 140px;">Tên màu sắc</span>
                                            <span class="tafi-input-group__append">
                                                <div class="hints-input">
                                                    <div class="input-wrapper">
                                                        <div class="tafi-input">
                                                            <div class="tafi-input__inner">
                                                                <input type="text" placeholder="Hãy nhập vào ít nhất 2 ký tự đầu của từ..."
                                                                       resize="vertical" rows="2" minrows="2" restrictiontype="input"
                                                                       max="Infinity" min="-Infinity" class="tafi-input__input">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="actions">
                        <button class="tafi-button tafi-button-primary">
                            <span>Tìm kiếm</span>
                        </button>
                        <button class="tafi-button" style="margin-left: 16px;">
                            <span>Nhập lại</span>
                        </button>
                    </div>
                </form>
            </div>

            <div class="product-list-main">
                <div class="">
                    <div class="fixed-container" style="top: 56px; z-index: 1000">
                        <div class="portal-panel">
                            <div class="tabs tafi-tabs tafi-tabs-line tafi-tabs-top">
                                <div class="tafi-tabs__nav">
                                    <div class="tafi-tabs__nav-warp">
                                        <div class="tafi-tabs__nav-tabs" style="transform: translateX(0px);">
                                            <div class="tafi-tabs__nav-tab active" style="white-space: normal;">
                                                <span class="tabs__tab">Tất cả</span>
                                            </div>
                                            <div class="tafi-tabs__nav-tab" style="white-space: normal;">
                                                <span class="tabs__tab">Đang hoạt động</span>
                                            </div>
                                            <div class="tafi-tabs__nav-tab" style="white-space: normal;">
                                                <span class="tabs__tab">Chờ duyệt</span>
                                            </div>
                                        </div>
                                        <div class="tafi-tabs__ink-bar" style="width: 78.25px; transform: translateX(0px);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* List panel *@
                    <div class="list-panel">
                        <div class="list-all">
                            <section class="product-list-header product-list-section">
                                <header class="product-list-header__create" style="align-items: flex-end;">
                                    <div class="product-list-header__create-right right">
                                        <a href="@Url.Action("TaoMauSac", "MauSac")" class="tafi-button tafi-button-primary tafi-button--large">
                                            <i class='bx bx-plus bx-sm'></i>
                                            <span style="margin-left: 5px;">Thêm mới màu sắc</span>
                                        </a>
                                    </div>
                                </header>
                            </section>
                            <section class="product-list-section product-and-pagination-wrap">
                                <div class="product-list-container">
                                    <div class="tafi-table product-list-view">
                                        @* Table header *@
                                        <div class="tafi-table__header-container">
                                            <div class="tafi-table__main-header">
                                                <table cellpadding="0" border="0" class="tafi-table__header" @*style="width: 1054px;"*@>
                                                    <colgroup>
                                                        <col width="162">
                                                        <col width="362">
                                                        <col width="200">
                                                        <col width="170">
                                                        <col width="160">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th colspan="1" rowspan="1">
                                                                <div class="tafi-table__cell">
                                                                    <span class="tafi-table__cell-label">
                                                                        Mã màu sắc
                                                                    </span>
                                                                </div>
                                                            </th>
                                                            <th colspan="1" rowspan="1">
                                                                <div class="tafi-table__cell">
                                                                    <span class="tafi-table__cell-label">
                                                                        Tên màu sắc
                                                                    </span>
                                                                </div>
                                                            </th>
                                                            <th colspan="1" rowspan="1">
                                                                <div class="tafi-table__cell">
                                                                    <div class="tafi-table__cell-wrap">
                                                                        <span class="tafi-table__cell-label">
                                                                            Ngành hàng
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th colspan="1" rowspan="1">
                                                                <div class="tafi-table__cell">
                                                                    <div class="tafi-table__cell-wrap">
                                                                        <span class="tafi-table__cell-label">
                                                                            Thời gian tạo
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th colspan="1" rowspan="1">
                                                                <div class="tafi-table__cell">
                                                                    <span class="tafi-table__cell-label">
                                                                        Thao tác
                                                                    </span>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        @* Table body *@
                                        <div class="tafi-table__body-container">
                                            <div class="tafi-table__main-body">
                                                <div class="tafi-scrollbar">
                                                    <div class="tafi-scrollbar__wrapper">
                                                        @* No product *@
                                                        @*<div class="tafi-table__empty">
                                                                <div class="product-no-result">
                                                                    <span class="sprites-product-list-no-product"></span>
                                                                    <div class="text"> Không tìm thấy sản phẩm </div>
                                                                </div>
                                                            </div>*@
                                                        @* ------- *@

                                                        @* Have product *@
                                                        <table cellpadding="0" border="0" class="tafi-table__body" @*style="width: 1054px;"*@>
                                                            <colgroup>
                                                                <col width="162">
                                                                <col width="362">
                                                                <col width="200">
                                                                <col width="170">
                                                                <col width="160">
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <td colspan="1" rowspan="1">
                                                                        <div class="tafi-table__cell">
                                                                            <div class="product-list-item__td product-main">
                                                                                <div class="product-cate">
                                                                                    <span class="product-cate-text">1</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td colspan="1" rowspan="1">
                                                                        <div class="tafi-table__cell">
                                                                            <div class="product-list-item__td product-main">
                                                                                <div class="product-image product-image-box">
                                                                                    <img src="https://product.hstatic.net/1000253775/product/img_2228_476e6162d022445691547a26c8065f39_master.jpg" alt="Alternate Text" />
                                                                                </div>
                                                                                <div class="product-name">
                                                                                    <span class="product-state-tag online">Đang hoạt động</span>
                                                                                    <span class="product-name-text">Apple</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td colspan="1" rowspan="1">
                                                                        <div class="tafi-table__cell">
                                                                            <div class="product-list-item__td product-main">
                                                                                <div class="product-price">
                                                                                    <span class="product-cate-text">Điện thoại</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td colspan="1" rowspan="1">
                                                                        <div class="tafi-table__cell">
                                                                            <div class="product-list-item__td product-main">
                                                                                <div class="product-price">
                                                                                    <span class="product-quantity-text">11/10/2023</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td colspan="1" rowspan="1">
                                                                        <div class="tafi-table__cell">
                                                                            <div class="product-list-item__td product-main">
                                                                                <div class="product-actions">
                                                                                    <div class="product-actions-text">
                                                                                        <a href="#">Chỉnh sửa</a>
                                                                                        <a href="#">Xóa</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <div class="tafi-table__horizontal"></div>
                                                        <table cellpadding="0" border="0" class="tafi-table__body" @*style="width: 1054px;"*@>
                                                            <colgroup>
                                                                <col width="162">
                                                                <col width="362">
                                                                <col width="200">
                                                                <col width="170">
                                                                <col width="160">
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <td colspan="1" rowspan="1">
                                                                        <div class="tafi-table__cell">
                                                                            <div class="product-list-item__td product-main">
                                                                                <div class="product-cate">
                                                                                    <span class="product-cate-text">2</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td colspan="1" rowspan="1">
                                                                        <div class="tafi-table__cell">
                                                                            <div class="product-list-item__td product-main">
                                                                                <div class="product-image product-image-box">
                                                                                    <img src="https://product.hstatic.net/1000253775/product/img_2228_476e6162d022445691547a26c8065f39_master.jpg" alt="Alternate Text" />
                                                                                </div>
                                                                                <div class="product-name">
                                                                                    <span class="product-state-tag online">Đang hoạt động</span>
                                                                                    <span class="product-name-text">SAMSUNG</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td colspan="1" rowspan="1">
                                                                        <div class="tafi-table__cell">
                                                                            <div class="product-list-item__td product-main">
                                                                                <div class="product-price">
                                                                                    <span class="product-cate-text">Điện thoại</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td colspan="1" rowspan="1">
                                                                        <div class="tafi-table__cell">
                                                                            <div class="product-list-item__td product-main">
                                                                                <div class="product-price">
                                                                                    <span class="product-quantity-text">11/10/2023</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td colspan="1" rowspan="1">
                                                                        <div class="tafi-table__cell">
                                                                            <div class="product-list-item__td product-main">
                                                                                <div class="product-actions">
                                                                                    <div class="product-actions-text">
                                                                                        <a href="#">Chỉnh sửa</a>
                                                                                        <a href="#">Xóa</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <div class="tafi-table__horizontal"></div>
                                                        @* ------- *@
                                                    </div>
                                                </div>
                                            </div>
                                            @* Product list pagination *@
                                            <div class="product-list-pagination tafi-pagination">
                                                Phân trang
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

